boto3
docx2txt
faiss-cpu
fastembed
fastapi
langchain
langchain-chroma
langchain-cli
langchain-community
langchain-core
langchain-openai
langchain-qdrant
langchain-text-splitters
langserve[all]
markdown
nbconvert
nltk
pymupdf
pypdf
python-dotenv==1.0.0
python-multipart
python-pptx
qdrant-client
unstructured